
<div class="contenuSite">
  <section>
    <div class="card">
      <div class="header">
      </div>
        <div class="contenu">
          <div id="photo"><img  alt="Photo"></div>

            <div class="details">
              <p class="position">Agent: {{data.agent.surName}} {{data.agent.firstName}}</p>
              <p class="position">Role: {{data.agent.role.name}}</p>
            </div>
          </div>
        <div class="footer">
      </div>
    </div>
  </section>

  <div class="cdks" cdkDropListGroup>
    <p class="title-drag">Par Client(s)</p>
    <div class="contientDragDrop">
      <div class="listDrag"
      cdkDropList
      [cdkDropListData]="allCustomersNotAssignedToGuardModif"
      (cdkDropListDropped)="drop($event)">
        <div *ngFor="let elt of allCustomersNotAssignedToGuardModif" cdkDrag>
          <span>{{elt.nameCustomer}}</span>
        </div>
      </div>

      <p class="p-drag-center"><mat-icon>keyboard_arrow_left</mat-icon><mat-icon>keyboard_arrow_right</mat-icon></p>
      <div class="listDrag"
        cdkDropList
        [cdkDropListData]="modifiAssignedCustomer"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let elt of modifiAssignedCustomer" cdkDrag>
        <span>{{elt.nameCustomer}}</span>
        </div>
      </div>
    </div>
    <button class="button-drag" mat-button (click)="SaveCustomers()">Envoyer</button>
  </div>

  <div class="cdks" cdkDropListGroup>
    <p class="title-drag">Par Site(s)</p>
    <div class="contientDragDrop">
      <div class="listDrag"cdkDropList
      [cdkDropListData]="listAllsitesAgentmodif"
      (cdkDropListDropped)="dropSite($event)">
      <div *ngFor="let elt of listAllsitesAgentmodif" cdkDrag>
        <span>{{elt.name}}</span>
    </div>
      </div>
      <p class="p-drag-center"><mat-icon>keyboard_arrow_left</mat-icon><mat-icon>keyboard_arrow_right</mat-icon></p>
      <div class="listDrag" cdkDropList
      [cdkDropListData]="this.listSiteAssignAgent"
      (cdkDropListDropped)="dropSite($event)">
        <div *ngFor="let elt of listSiteAssignAgent" cdkDrag>
          <span>{{elt.name}}</span>
      </div>
    </div>
  </div>
    <button class="button-drag" mat-button (click)=" SaveSites()">Envoyer</button>
  </div>
</div>
