
<div class="contenuSite">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar ><img id="photo" [attr.src]="safeImageUrl" alt="Photo"></div>
      <mat-card-title>{{data.agent.surName}} {{data.agent.firstName}}</mat-card-title>
      <mat-card-subtitle>{{data.agent.role.name}}</mat-card-subtitle>
    </mat-card-header>

  </mat-card>

  <div class="ConentDragendDrops">
    <h2 class="title_DragandDrop"><u>Attribué un site ou un client à un agent</u></h2>
    <div class="cdks" cdkDropListGroup>
      <p class="title-drag">Par Client(s)</p>
      <div class="contientDragDrop">
        <div class="listDrag"
        cdkDropList
        [cdkDropListData]="CustomersNotAssignedToGuard"
        (cdkDropListDropped)="drop($event)">
          <div *ngFor="let elt of CustomersNotAssignedToGuard" cdkDrag>

            <span class="element"><mat-icon aria-hidden="false" class="iconAdd"  aria-label="Store" fontIcon="drag_indicator"></mat-icon>{{elt.nameCustomer}}</span>
          </div>
        </div>
        <hr>

        <div class="listDrag"
          cdkDropList
          [cdkDropListData]="listAssignedCustomer"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let elt of listAssignedCustomer" cdkDrag>
          <span class="element"><mat-icon aria-hidden="false" class="iconDelete"  aria-label="Example home icon" fontIcon="drag_indicator"></mat-icon>{{elt.nameCustomer}}</span>
          </div>
        </div>
      </div>
      <button class="button-drag" mat-button (click)="saveByCustomer()" >Envoyer</button>
    </div>

  <div class="cdks" cdkDropListGroup>
      <p class="title-drag">Par Site(s)</p>
      <div class="contientDragDrop">
        <div class="listDrag"cdkDropList
        [cdkDropListData]="listAllsitesAgentmodif"
        (cdkDropListDropped)="dropSite($event)">
        <div *ngFor="let elt of listAllsitesAgentmodif" cdkDrag>
          <span class="element"><mat-icon aria-hidden="false" class="iconAdd"  aria-label="Example home icon" fontIcon="drag_indicator"></mat-icon>{{elt.name}}</span>
      </div>
        </div>
        <hr>
        <div class="listDrag" cdkDropList
        [cdkDropListData]="this.listSiteAssignAgent"
        (cdkDropListDropped)="dropSite($event)">
          <div *ngFor="let elt of listSiteAssignAgent" cdkDrag>
            <span class="element"><mat-icon aria-hidden="false" class="iconDelete"  aria-label="Example home icon" fontIcon="drag_indicator"></mat-icon>{{elt.name}}</span>
        </div>
      </div>
    </div>
      <button class="button-drag" mat-button (click)="saveSites()">Envoyer</button>
    </div>
  </div>
</div>

