
.contenuSite{
  display:flex;
  flex-wrap: wrap;

}

.card{
  width:250px;
  height: 80px;
  background-color: #B2CCE1;
  text-align: center ;
  color: whitesmoke   ;
}

#photo{
  height:50px;
  width:50px;
  border-radius: 180px;
}

.contenu{
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}



.ConentDragendDrops
{
  display: flex;
  flex-flow: wrap;
  position:absolute  ;
  top: 10vh ;
  left: 20vw;
  justify-content: center;
}

.ConentDragendDrops .title_DragandDrop{
  display: inline-block;

  width: 1000px;
  height: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.contientDragDrop
{
display:flex;
flex-wrap: wrap;
word-break: break-all;
width: 600px;
min-height: 500px;
background-color: #f2f2f2;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin-left: 50px;
border-radius: 0 0  5px 5px ;
}

.p-drag-center{
  height:500px;

}


.listDrag{
display: flex ;
flex-flow: column wrap;
width:230px;
margin-top: 2%;
margin-bottom: 2%;
background-color: transparent;
padding-left: 30px;
padding-right: 30px;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.element{
  display: flex;
  display: inline-block;
  border: 1px solid #bbf0ee;
  width: 100%;
  border-radius: 5px;
  background-color: #E4EDF8;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  margin-bottom: 2px;
}

.element:hover{
  cursor:move;
  }

.iconDelete{
height: 20px;
color: green;
}
.iconAdd{
  height: 20px;
  color: red;
  margin-right: 3px;
  }



.button-drag{
  margin-top:15px;
  margin-left:38%;
  font-weight:bold ;
  border-radius: 10px;
  border:none;
  background-color: #B2CCE1;
  width: 201px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  color: whitesmoke  !important;
}
.title-drag
{
  padding-top: 10px;
  width:600px;
  height: 30px;
  background-color:  #f2f2f2;
  text-align: center;
  margin-left: 50px;
  border-radius: 5px 5px 0 0 ;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 1400px ) {

  .card{
    visibility: hidden;
  }
  .button-drag{
    margin-left: 200px;
    width: 201px;
    height: 30px;
    margin-top:15px;
  }
  .ConentDragendDrops
  {
  display: flex;
  position:absolute;
  top: 32vh;
  left: 2vw;
  }
}

@media screen and (max-width: 1000px ) {

  .title-drag{
    height: 20px;
    padding-top: 0px;
  }
  .button-drag{
    margin-left: 150px;
  }
  .card{
    visibility: hidden;
  }
  .contientDragDrop
  {
    width: 400px;
  }
  .listDrag{
    width: 150px;
  }
  .title-drag
{
  width: 400px;
}
}
