.Contenu-admin-ronde
{
  display: flex;
  flex-direction: row;
  margin-top:20px;
  margin-left:10px;
}
.Contenu-admin-ronde div div{
  display: flex;
  flex-flow: row wrap;

}


.card-addRfid
{
  display: flex;
  width: 80%;
  margin-left: 5vw;
  align-items: center;
}

.Contenant_menu{
  margin-left: 5vw;
}

.content_mat_form{
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;

}

