<div class="Contenu-admin-ronde animate__animated animate__fadeInLeft">
  <div class="card-addRfid ">

      <div class="content_mat_form">
        <mat-form-field>
          <mat-label>Choisissez un client</mat-label>
          <select   matNativeControl [(ngModel)]="client" >
            <option *ngFor="let clients of this.listCustomers.AllCustomers" value={{clients.nameCustomer}}>{{clients.nameCustomer}}</option>
          </select >
        </mat-form-field>
      </div>
      <mat-icon *ngIf="client" fontIcon="arrow_forward"></mat-icon>
      <div class="content_mat_form" *ngIf="client" >

        <div class="animate__animated animate__fadeIn" *ngFor="let clientss of this.listCustomers.AllCustomers | filterByName: client">
          <mat-form-field>
          <mat-label>Choisissez un Site</mat-label>
          <select matNativeControl [(ngModel)]="siteId">
            <option  *ngFor="let site of clientss.site" (click)="ChangeSite()" [value]="site.siteId">{{site.name}}</option>
          </select>
          </mat-form-field>
        </div>
      </div>
      <mat-icon *ngIf="siteId" fontIcon="arrow_forward"></mat-icon>
  <div class="content_mat_form"  *ngIf="siteId">

      <mat-form-field>
        <mat-label>Action</mat-label>
        <select matNativeControl (click)="SelectAction()" [(ngModel)]="action">
          <option value="ModifRfid">Modification pastilles</option>
          <option value="AddRfid">Ajout pastille(s)</option>
          <option value="AddRonde">Ajout ronde</option>
          <option value="ModifRonde">Modification ronde</option>
        </select>
      </mat-form-field>
  </div>
</div>
</div>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

