*{
  box-sizing: border-box;
}
.container{
  background-color:whitesmoke !important;
  margin:5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  border-radius: 5px;
  padding:10px;
  width:550px;
}

.container button{
  width: 150px;
  margin: 5px;
}
.container form{
  display: flex;
  flex-flow: column wrap;
}
.container form mat-form-field{
  margin-right: 50px;
}
.container form div div{
 display: flex;
 flex-flow: row wrap;

}
.container form div div div{
  display: flex;
  flex-flow: column wrap;

}
.container form div div div input{
  width:155px;
}
