
#contentAgent{
  margin-top: 10vh;
  margin-bottom: 2vh;
  width: 100vw;
  min-height: 90vh;
}

.connected{
  padding-left: 5px;
}

#user_interface
{
  display: flex;
  width:100vw;
}

#user_interface div:nth-of-type(1) {flex-grow: 10;}
#user_interface div:nth-of-type(2) {margin-top:2vh;flex-grow: 1;}

button{
  font-weight:bold ;
  border-radius: 10px;
  border:none;
  background-color: #326290;
  color: wheat;
  height: 3vh;
  width: 201px;
  height: 40px;
  cursor: pointer;

}
@media screen and (max-height: 700px) {
  #contentAgent{
  min-height: 94vh;

  }
}
@media screen and (max-width: 1200px) {
  #contentAgent{
  min-height: 94vh;
  }
}
@media screen and (max-width: 600px) {

  #user_interface{
    flex-direction:column-reverse;
    justify-content: center;
  }
  #user_interface div:nth-of-type(1) {align-self:center; flex-grow: 1; width:90%; }
  #user_interface div:nth-of-type(2) {align-self:center; display:flex;justify-content: center; flex-direction:column;flex-grow: 1; width:90%;}
  #user_interface div:nth-of-type(2) button{ width:100%;}
}
