
<div id="contentAgent">
  <div id="user_interface"  *ngIf="isWorking == false">
    <div >
      <app-info-agent></app-info-agent>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Client</mat-label>
        <mat-select [(ngModel)]="site">
            <mat-option *ngFor="let site of listSite" [value]="site.name">
              {{site.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <p><button id="button" [disabled]="site == null"   (click)="StartWork()">Prise de service</button></p>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="connected" *ngIf="isWorking == true">
    <button  id="button" (click)="EndWork()" >Fin de service</button>
    <div>
      <app-text-editor></app-text-editor>
    </div>
  </div>
</div>
