
<div class="contentAgent">
  <div class="logedOut" *ngIf="isWorking == false">
    <div class="">
      <mat-form-field appearance="fill">
        <mat-label>Client</mat-label>
        <mat-select [(ngModel)]="customer">
          <mat-option *ngFor="let cust of listCustomers" autofocus [value]="cust.nameCustomer">
            {{cust.nameCustomer}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button [disabled]="customer == null"  (click)="StartWork()">Prise de service</button>
    </div>
    <section>
      <app-info-agent></app-info-agent>
    </section>
    <section>
    <router-outlet></router-outlet>
  </section>
  </div>
  <div class="connected" *ngIf="isWorking == true">
    <button mat-raised-button color="primary" (click)="EndWork()" >Fin de service</button>
    <section>
      <app-text-editor [customer]="customer"></app-text-editor>
    </section>
  </div>
</div>
