
<div id="contentAgent">
  <div id="user_interface"  *ngIf="isWorking == false">
    <div >
      <app-info-agent></app-info-agent>
    </div>
    <div >
      <mat-form-field appearance="fill">
        <mat-label>Client</mat-label>
        <mat-select [(ngModel)]="customer">
          <mat-option *ngFor="let cust of listCustomers" autofocus [value]="cust.nameCustomer">
            {{cust.nameCustomer}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p><button [disabled]="customer == null"  (click)="StartWork()">Prise de service</button></p>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="connected" *ngIf="isWorking == true">
    <button mat-raised-button color="primary" (click)="EndWork()" >Fin de service</button>
    <div>
      <app-text-editor [customer]="customer"></app-text-editor>
    </div>
  </div>
</div>
