*{
  box-sizing: border-box;
}

  .Add-person
  {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 5px;
  }
  .Add-person button{
    width: 100px;
    margin-top: 10px;
    margin-left:10px;
    margin-bottom:10px;
  }

  .Add-person button
  {
    margin: 10px;
    width:200px;
  }

  mat-form-field input{
    width:86%;
  }
  mat-form-field mat-icon{
  cursor: pointer;
  }
  .MailPhone{
  display: flex;

  }

  .inputClient
  {
    margin-left: 1vw;
  }

  .inputClient span {
    cursor: pointer;
  }

  .ContainCheckbox
  {
    display: flex;
    flex-flow: row wrap;
  }

  .checkbox
  {
    padding-right: 3vh;
  }
