*{
  box-sizing: border-box;

}
.message{
  display: none;
}
.button-container{
  border:  2px solid rgba(255,255,255, .1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: white , $alpha: 0.1) !important;
  height: 100%;
  position: relative;
}
button{
  background-color: white !important;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 15px !important;
  border:none;
  width: 90%;
  height: 35px;
  cursor: pointer;
}
.bx-log-out-circle{
  text-align: start;
  position: absolute;
  top: 40px;
  right: 15px;
  font-size: 18px;
}
