.search
{
  padding-left: 2vw;
  padding-top: 2vw;
}
.table-card{
  width: 25vw;
  margin-left: 2vw;
  margin-top: 2vw;
}
table{
  width: 100%;
  margin-left: 2vw;
}
th
{
  text-align: left;
  padding-bottom: 1vh;
}
.details{
  width:60vw;
  margin-left: 2vw;
  margin-top: 2vw;
}
.Detailed-card .activateForm
{
  margin-left: 80%;
}

.Detailed-card .sendButton
{
  margin-top: 1vw;
  width:100%
}

.employees{
  display: flex;
}
.input
{
  color: black;
}
.warning{
  color:red;
  display: flex;
  align-items: center;
}
.icons{
  padding-right: 1vw;
}
