.search
{
  padding-left: 2vw;
  padding-top: 2vw;
}
.table-card{
  width: 25vw;
  margin-left: 2vw;
  margin-top: 2vw;
}
table{
  width: 100%;
  margin-left: 2vw;
}
th
{
  text-align: left;
  padding-bottom: 1vh;
}
.details{
  width:60vw;
  margin-left: 2vw;
  margin-top: 2vw;
}

.employees{
  display: flex;
}
.icons1{
  padding:0;
  margin: 0;
  color: #007BFF;
}
.icons2{
  padding:0;
  margin: 0;
  color: #17A2B8;
}
.cards{
  display: flex;
}
.AddPerson{
  display: flex;
  justify-content: flex-end;
}
.AddPerson .icons{
  padding-right: 1vw;
  color: blue;
}
