
*{
  box-sizing: border-box;
}
.contentTable
{
  margin-top :2vh;
  margin-left: 3vw;
  width: 20vw;
  display:flex;
}
table{
  width: 100%;

}
caption{
  background-color: wheat;
  height: 20px;
  margin-bottom: 10px;

}
.td{
  cursor: pointer;
}
.td:hover{
  background-color: #ddd;
}

@media screen and (max-width: 600px) {

  .contentTable{
    width: 100%;
    margin-left: 0;
  }

}

