
<div class="contenuSite">
  <section>
    <div class="card">
      <div class="header">
      </div>
        <div class="contenu">
          <div id="photo"><img [attr.src]="safeImageUrl" alt="Photo"></div>

            <div class="details">
              <p class="position">Agent: {{agent.agent.surName}} {{agent.agent.firstName}}</p>
              <p class="position">Role: {{agent.agent.role.name}}</p>
            </div>
          </div>
        <div class="footer">
      </div>
    </div>
  </section>
  <div cdkDropListGroup>
    <div class="contientDragDrop">
      <div class="listDrag"
      cdkDropList
      [cdkDropListData]="listCustomers"
      (cdkDropListDropped)="drop($event)">
        <div *ngFor="let elt of listCustomers" cdkDrag>
          {{elt.nameCustomer}}
        </div>
      </div>
      <div class="listDrag"
      cdkDropList
      [cdkDropListData]="listCustomerstoAgent"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let elt of listCustomerstoAgent" cdkDrag>
        {{elt.nameCustomer}}
      </div>
    </div>
  </div>
</div>
</div>
