<app-nav></app-nav>
<div *ngIf="!_AuthService.isConnected" Class="message">
  <div class="accueil">
    <h1>Bienvenue sur la page de connexion</h1>
    <h2>Site de démonstration</h2>
    <div class="text_accueil">
      Bienvenue sur le site en cours de création !
      Je suis ravis de vous accueillir dans cet espace en devenir,
      où je travail actuellement à peaufiner la mise en page pour vous offrir une expérience agréable.

      Veuillez m'excuser pour l'apparence actuelle,
      car je suis en plein processus de conception et d'ajustement pour que tout soit parfait.

      Merci de votre compréhension
    </div>
  </div>

  <div class="table_accueil">
    <table>
      <caption><h3>Id de connexion pour les tests</h3></caption>
      <tr>
        <th></th>
        <th>
          Login agent
        </th>
        <th>
          Mot de passe
        </th>
      </tr>
      <tr>
        <td>Accès gestion agents:  </td>
        <td>ced</td>
        <td>123</td>
      </tr>
      <tr>
        <td>Accès console agent:  </td>
        <td>cedric</td>
        <td>aaaaaaaa</td>
      </tr>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
