*{
  box-sizing: border-box;
}

.message{
  position:absolute;top:50;left:20;
  color : rgb(76, 62, 107);
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
}
.accueil{
width: 100%;
}
.accueil h1 ,h2 {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.text_accueil
{
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0 0 10%;
  width:80%;
}
.picture1{
  width: 400px;
  height:400px;
  background-image: url('./../assets/screens.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.picture2{
  width: 400px;
  height:400px;
  background-image: url('./../assets/connexion.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.picture3{
  width: 400px;
  height:400px;
  background-image: url('./../assets/nasaearth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.table_accueil{
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0 ;
  width: 100vw;
  padding-top: 100px;

}
.table_accueil table{
  width: 500px;
}
.table_accueil table td {
  text-align: center;
  padding-top: 10px;
}
@media screen and (max-width:14000px) {
.table_accueil table{
    height: 0;
  }
}
@media screen and (max-width:670px) {
  .table_accueil table{
    width:350px;

  }
}
@media screen and (max-width:600px) {
  .text_accueil {
    visibility: hidden;
    display: none;
  }

}
@media screen and (max-height:630px) {
  .table_accueil{
    padding-top: 0;

  }
  .accueil h1 ,h2 {
    padding-top:5px;
  }
}
@media screen and (max-height:530px) {

  .message {
   font-size: smaller !important;
  }

}


@media screen and (max-height:400px) {
  .text_accueil{
    visibility: hidden;
    display: none;
  }
}
