<app-nav></app-nav>
<div *ngIf="!_AuthService.isConnected" Class="message">
  <div class="accueil">
    <h1>Welcome to the login page</h1>
    <h2>Demo site</h2>
    <div class="text_accueil">
      <div class="picture1"></div>
      <div class="picture2"></div>
      <div class="picture3"></div>
    </div>
  </div>

  <div class="table_accueil">
    <table>
      <caption><h3>Connection ID for tests</h3></caption>
      <tr>
        <th></th>
        <th>
          Login agent
        </th>
        <th>
          Mot de passe
        </th>
      </tr>
      <tr>
        <td>Agent management access:  </td>
        <td>ced</td>
        <td>123</td>
      </tr>
      <tr>
        <td>Agent console access:  </td>
        <td>cedric</td>
        <td>aaaaaaaa</td>
      </tr>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
