<app-nav></app-nav>
<div *ngIf="!_AuthService.isConnected" Class="message">

  <div class="table_accueil">
    <div class="card_accueil">
      <div class="text_footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem harum laboriosam tempora quasi recusandae soluta sed placeat nesciunt, aspernatur nostrum perspiciatis quia excepturi sint, vero quos vel, repellendus nulla cupiditate?</div>
      <div class="content_circles">
        <div class="image_circle">
          <div class="picture1"></div>
          <div class="picture2"></div>
          <div class="picture3"></div>
        </div>

        <div class="image_circle2">
          <div class="picture4"></div>
          <div class="picture5"></div>
          <div class="picture6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
