*{
  box-sizing: border-box;
}
.container{
  display: flex;
  margin-top: 10vh;
  width: 100vw;
  justify-content: flex-start;

}

.menu{
  margin-left: 5vw;
}

.ButtonTaches{
  display: flex;
  font-weight: bold;
  width: 250px;
  align-items: center;
  justify-content: space-around;

}
.routerOutlet{
  min-height:85%;
  margin-left: 5%;
  margin-top: 1%;

}


