
<div class="container animate__animated animate__flipInX" *ngIf="connected === true" >

  <div class="menuPhone">
    <button class="containMenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu list">
      <mat-icon>list</mat-icon>
    </button>
    <mat-menu class="menus"  #menu="matMenu">
      <button (click)="Rondes('admin')" mat-menu-item (click)="Agent()" class="buttons" >
        <mat-icon>people</mat-icon><span>Gestion Agents</span>
      </button>
      <button (click)="Rondes('admin')" mat-menu-item  class="buttons">
        <mat-icon>filter_tilt_shift</mat-icon><span>Administration rondes</span>
      </button>
      <button (click)="AllEmp('AllEmployees')" mat-menu-item class="buttons">
        <mat-icon class="icons">people</mat-icon><span >Administration employées</span>
      </button>
      <button (click)="Customers('Admin')" mat-menu-item class="buttons">
        <mat-icon class="icons">people</mat-icon><span >Administration Clients</span>
      </button>
    </mat-menu>
  </div>

  <nav class="menu animate__animated animate__slideInDown">
    <div>
      <div class="begin" (click)="Agent()" >            <mat-icon class="icons">people</mat-icon>Gestion Agents</div>

      <div  (click)="Rondes('admin')" >                 <mat-icon class="icons">filter_tilt_shift</mat-icon><span class="middle">Administration rondes</span></div>

      <div (click)="AllEmp('AllEmployees')" >           <mat-icon class="icons">people</mat-icon><span class="middle">Administration employées</span></div>

      <div class="begin" (click)="Customers('Admin')" > <mat-icon class="icons">people</mat-icon>Administration Clients</div>
    </div>
  </nav>
</div>

<div class="routerOutlet">
<router-outlet></router-outlet>
</div>

