
<div class="container animate__animated animate__flipInX" *ngIf="connected === true" >

  <div class="menu">
    <button class="ButtonTaches"   [matMenuTriggerFor]="menu" aria-label="Menu list">
      <mat-icon fontIcon="list"></mat-icon>Sélectionnez une tâches
    </button>
    <mat-menu  #menu="matMenu">
      <button (click)="Rondes('admin')" mat-menu-item (click)="Agent()" class="buttons" >
        <mat-icon fontIcon="people"></mat-icon><span>Gestion Agents</span>
      </button>
      <button (click)="Rondes('admin')" mat-menu-item  class="buttons">
        <mat-icon fontIcon="filter_tilt_shift"></mat-icon><span>Administration rondes</span>
      </button>
      <button (click)="AllEmp('AllEmployees')" mat-menu-item class="buttons">
        <mat-icon class="icons" fontIcon="people"></mat-icon><span >Administration employées</span>
      </button>
      <button (click)="Customers('Admin')" mat-menu-item class="buttons">
        <mat-icon class="icons" fontIcon="recent_actors"></mat-icon><span >Administration Clients</span>
      </button>
    </mat-menu>
  </div>
</div>

<div class="routerOutlet">

<router-outlet></router-outlet>
</div>

