*{
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;

}

.routerOutlet{
  min-height:85%;
  margin-left: 5%;
  margin-top: 3%;
}

.menu{
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 20px;
  width:80%;

}

.menu div {
  height: 50px;
  display: flex;
  z-index: 1;
  box-shadow: 0px 0px 0px 5px whitesmoke;

}
.menu div div {
  width:250px;
  display: flex;
  padding-top: 13px;
  height: 50px;
  color: black;
  z-index: 2;
  font-size: 16px;
}

.menu div div:first-of-type {
  padding-left: 5%;
  background: #a6cff5;
  margin-right: -10px;
  border-radius: 5px 0 0px 5px;
}
.menu div div:nth-of-type(2) {
  background: #7eabd4;
  margin-left:-20px ;
  padding-left: 4%;
  transform: skew(20deg, 0);
  border-radius: 5px 5px 5px 5px;
}
.menu div div:nth-of-type(3) {
  background: #5281ad;
  margin-left: -5px;
  padding-left: 3%;
  transform: skew(20deg, 0);
  border-radius: 5px 5px 5px 5px;
}

.menu div div:last-of-type {
  background: #326290;
  margin-left: -12px;
  padding-left: 4%;
  border: none;
  z-index: 0;
  border-radius: 0px 5px 5px 0px;
}
.menu div div:hover {
 font-size: 15px;
 opacity: 1;
}


.menu div div .icons, .middle{
  transform: skew(-20deg, 0);
}

.menu div .begin mat-icon{
  transform: skew(0deg, 0);
}
.menu div div mat-icon{
  margin-right:5px;
}
.menu div div {

}

.menuPhone{
  visibility: hidden;
}

::ng-deep .menus{
  box-sizing: border-box !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  width:190px !important;
  position:absolute;
  top:-50px;
  right:10px;
}

::ng-deep .buttons{
  width:190px !important;
  background-color: rgba(50,98,144,1) !important;
  border-bottom: 3px solid #AAB0DD !important ;
  border-radius:  3px !important;
  margin-bottom: 10px !important;
  height: 10px !important;
}
.buttons .mat-icon, .buttons  span{
  height: 10px !important;
  font-size: 10px !important;
  padding :0 !important;
  margin: 0 !important;
  color: white;
}
@media screen and (max-width: 955px){
  .menu{
    visibility: hidden;
    width:0%;
    font-size: 0;
    padding: 0;
    margin: 0;
  }
  .menu ul{
    visibility: hidden;
    width:0%;
    padding: 0;
    margin: 0;
  }
  .menu ul li{
    visibility: hidden;
    width:0%;
    padding: 0;
    margin: 0;
  }
  .menu ul li span{
    visibility: hidden;
    width:0%;
    font-size: 0px;
    padding: 0;
    margin: 0;
  }
  .icons
{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 0px;
}
  .containMenu{
    visibility:visible;

  }

}
@media screen and (max-height: 440px){
  .menu{
    visibility: hidden;
    width:0%;
    font-size: 0;
    padding: 0;
    margin: 0;
  }
  .menu ul{
    visibility: hidden;
    width:0%;
    padding: 0;
    margin: 0;
  }
  .menu ul li{
    visibility: hidden;
    width:0%;
    padding: 0;
    margin: 0;
  }
  .menu ul li span{
    visibility: hidden;
    width:0%;
    font-size: 0px;
    padding: 0;
    margin: 0;
  }
  .icons
{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 0px;
}
  .containMenu{
    visibility:visible;
  }
}

@media screen and (max-height: 345px){
  .containMenu{
    top:25px;
    top:0;
  }

}
