*{
  box-sizing: border-box;
}
.container{
  display: flex;
  margin-top: 2%;
  padding-left: 5%;
  width: 80%;

}
.ButtonTaches{
  display: flex;
  font-weight: bold;
  width: 250px;
  align-items: center;
  justify-content: space-around;

}
.routerOutlet{
  min-height:85%;
  margin-left: 5%;
  margin-top: 3%;
}


