<nav class="menu">
  <ul>
    <li (click)="AllEmp()" class="icons"><mat-icon class="icons">people</mat-icon><span class="aligned-with-icon">Liste des employées</span> </li>
    <li (click)="Customers()" class="icons"><mat-icon class="icons">people</mat-icon><span class="aligned-with-icon">Liste des Clients</span> </li>
    <li  class="icons"><mat-icon class="icons">filter_tilt_shift</mat-icon><span class="aligned-with-icon">Gestion des rondes</span> </li>
  </ul>
</nav>

<router-outlet></router-outlet>

