<div class="details">
  <mat-card class="Detailed-card">
      <div>
        <button class="iconsCenter" mat-raised-button  color="warning" (click)="CloseDialogBox()" class="sendButton">Fermer</button>
      </div>
      <mat-dialog-content>
      <form [formGroup]="formClient" (ngSubmit)="Send()" *ngIf="formClient">
        <mat-form-field >
          <mat-label>Nom du site: </mat-label><input formControlName="name" class="input" matInput>
        </mat-form-field>
            <mat-form-field>
              <mat-label>Tva: </mat-label><input  formControlName="vatNumber" class="input" matInput>
            </mat-form-field>

            <div formGroupName="language">
              <mat-form-field>
                <mat-label>Langue de contact: </mat-label><input matInput [matAutocomplete]="lang"  formControlName="name" class="input">
                <mat-autocomplete #lang="matAutocomplete" >
                  <mat-option *ngFor="let elt of listLanguage" [value]="elt.name" >
                      {{elt.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div formGroupName="address" >
            <mat-form-field>
              <mat-label>Pays: </mat-label><input matInput [matAutocomplete]="autoNationality"  formControlName="state" class="input">
              <mat-autocomplete #autoNationality="matAutocomplete" >
                <mat-option *ngFor="let elt of listCountrys" [value]="elt.country" >
                      {{elt.country}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Rue + nr°: </mat-label><input formControlName="sreetAddress" class="input" matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Code Postal: </mat-label><input formControlName="zipCode" class="input" matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ville: </mat-label><input formControlName="city" class="input" matInput>
            </mat-form-field>
            </div>


              <div formArrayName="contactSite">
                <p>Contact d'urgences:</p>
                <div *ngFor="let contact of contactSite.controls; let i = index">
                  <mat-form-field [formGroupName]="i">
                    <mat-label >Prénom: </mat-label><input matInput formControlName="firstName" class="input">
                  </mat-form-field >
                  <mat-form-field [formGroupName]="i">
                    <mat-label >Nom: </mat-label><input matInput formControlName="lastName" class="input">
                  </mat-form-field >
                  <p>Contact</p>
                  <p [formGroupName]="i"><mat-checkbox  formControlName="nightContact">de nuit</mat-checkbox></p>
                  <p [formGroupName]="i"><mat-checkbox  formControlName="emergencyContact">d'urgence</mat-checkbox></p>
                  <p [formGroupName]="i"><mat-checkbox  formControlName="responsible">Responsable</mat-checkbox></p>

                  <div formGroupName="{{i}}">
                    <div formArrayName="phone">
                      <div *ngFor="let phone of getPhoneControls(contact); let j = index">
                        <mat-form-field [formGroupName]="j">
                          <mat-label>Téléphone:</mat-label>
                          <input matInput formControlName="number">
                        </mat-form-field>
                      </div>
                    </div>
                    <div formArrayName="email">
                      <div *ngFor="let email of getEmailControls(contact); let j = index">
                        <mat-form-field [formGroupName]="j">
                          <mat-label>Email:</mat-label>
                          <input matInput formControlName="emailAddress">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-button type="submit">Envoyer</button>
      </form>
    </mat-dialog-content>
  </mat-card>
</div>
