
.search
{
  padding-left: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.cards{
  display: flex;
  padding-left: 2vw;
}

.table-card{
  width: 25vw;
  margin-left: 2vw;
  margin-top: 2vw;
}
table{
  width: 100%;
}

th
{
  text-align: left;
  padding-left: 2vw;
  padding-bottom: 1vh;
}
td{
  padding-left: 1vw;
}

.employees{
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.icons1{
  padding:0;
  margin: 0;
  color: #3F51B5;
}
.icons2{
  padding:0;
  margin: 0;
  color: #17A2B8;
}

.AddPerson{
  display: flex;
  justify-content: flex-end;
}
.AddPerson a{
  width: 100%;
}
.AddPerson button{
  width: 100%;
}
.AddPerson .icons{

  color: rgb(129, 129, 158);
}

.AddPerson .icons:hover{
  color: #17A2B8;
}

.card {
  margin-left: 2vw;
  width:50vw;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arial, sans-serif;
}

.cards1{
  padding-left: 2vw;
  height:50vh;
  margin-left: 2vw;
  width:50vw;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  flex-direction: row;
  align-items: center;
  font-family: Arial, sans-serif;
}
.contcards2{
display: flex;
}
.detailsCard2
{
  margin: 1vw;
}
.cards2 {
  padding-left: 2vw;
  height:50vh;
  margin-left: 2vw;
  width:50vw;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  flex-direction: row;
  align-items: center;
  font-family: Arial, sans-serif;
}


