
.cards{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height:80vh;

}

.divTable
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

table{
  border-collapse: collapse;
}

th{
  background-color: #F5F5F5;
  height: 40px;
  text-align: center;
  padding : 0 10px 0px 20px;
}

tr{
  border-bottom: 1px solid #ccc;
}

td {
  background-color: white;
  height: 40px;
  //border: 1px solid #ccc;
  text-align: center;
  padding : 0 10px 0px 20px;
}
.paginator
{
  width:99%;
  display: flex;
  background-color: white;
  border-radius: 0 0 5px 5px;
  justify-content: center;
  padding-right :4px;
  margin-left :1px;

}

.employees{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;

}

.icons button{
  color: #17A2B8;
}
.icons1{
  color: #757575;
}
.icons2{
  color: #757575;
}
.icons3
{
  color: rgb(184, 101, 101);
}
.icons1,incons2{
  padding:0;
  margin: 0;
}
.buttonIcons
{
  background-color: white;
  border: none;
}

.AddPerson{
  width: 99%;
  display: flex;
  justify-content:space-evenly;
  background-color:white;
  border-radius: 5px 5px 0 0;
  padding-right :4px;
  margin-left :1px;
  color:#00468C;
}

.AddPerson .icons{
  color:#00468C;
}

.AddPerson .icons:hover{
  color: #f5f5ea;
}

/////

.rep{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 850px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.rep h3{
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px 1px 1px 1px #f5f5ea;
  width: 97%;
  text-align: center;
  background-color: rgb(253, 253, 253);
}

.rep h3:last-child{
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px 1px 1px 1px #f5f5ea;
  width: 100%;
  text-align: center;
  background-color: rgb(253, 253, 253);
}

.cards2 {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #f5f5ea;
  background-color: rgb(253, 253, 253);
  padding:10px;
  margin-bottom: 10px;
  width:95%;
  justify-content: space-around;
}
.detailsCard2 table{
  margin-top: 20px;
}

img{
  width:170px;
  height: 200px;
}

@media screen and (max-width: 1400px){
  .rep{
    margin-top: 5px;
    box-shadow: none;
  }
}
