<div class ="cards">
  <div  class="employees">
    <section class="divTable">
      <div class="AddPerson">
        <mat-form-field>
          <mat-label class="matLabel">Recherche<mat-icon class="icons2">search</mat-icon></mat-label>
          <input  type="text" name="nameCustomer" [(ngModel)]="nameCustomer" (ngModelChange)="ngModelChange()"  placeholder="Nom du client" matInput >
        </mat-form-field>
          <button mat-button type="button" (click)="FormAddUser()"><mat-icon class="icons">person_add</mat-icon> Ajouter un client</button>
      </div>
      <table *ngIf="pagedData != null">
        <thead>
          <tr>
            <th>Nom</th>
            <th>client</th>
            <th>Site a modifier</th>
            <th>Actions par site</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of pagedData">
            <td><a><u>{{client.nameCustomer| titlecase }}</u></a></td>
            <td>
              <button class="buttonIcons"  (click)="Delete(client.customerId)" type="button"><mat-icon class="icons3">delete</mat-icon></button>
              <button class="buttonIcons" (click)="UpdateCustomer(client.customerId)" type="button"><mat-icon  class="icons2">edit_square</mat-icon></button>
            </td>
            <td>
              <div *ngIf="client.site != null">
                <mat-form-field >
                  <mat-label>--Sélectionnez un site--</mat-label>
                  <mat-select [(value)]="selectedSiteName">
                    <mat-option *ngFor="let elt of client.site"  [value]="elt.name" >
                      {{elt.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </td>
            <td>
              <button class="buttonIcons" (click)="AddSite(client.customerId)" type="button"><mat-icon  class="icons1">add</mat-icon></button>
              <button  class="buttonIcons" (click)="GetOne(client.customerId)" type="button"><mat-icon  class="icons1">visibility</mat-icon></button>
              <button class="buttonIcons" (click)="UpdateOne(client.customerId)" type="button"><mat-icon  class="icons2">edit_square</mat-icon></button>
              <button class="buttonIcons" (click)="DeleteSite(client.customerId)" type="button"><mat-icon class="icons3">delete</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="paginator">
        <mat-paginator class="paginator" #paginator [pageSize]="8" [length]="length"></mat-paginator>
      </div>
    </section>
  </div>
  <div class="rep" *ngIf="select == false && siteSelected == null ">
    <section class="cards1">
      <router-outlet></router-outlet>
    </section>
  </div>
  <div class="rep" *ngIf="select == true && siteSelected != null ">
    <div class="cards2">
      <h3>Site : {{siteSelected.name}}</h3>
        <div class="contcards2">
          <div class="detailsCard2">
            <p class="email" *ngIf="siteSelected.language != null">Langue de contact: <b>{{siteSelected.language.name}} </b></p>
            <p class="position">Adresse:</p>
            <p class="email">Rue : {{siteSelected.address.sreetAddress}}</p>
            <p class="email">Code Postal : {{siteSelected.address.zipCode}}</p>
            <p>Pays : {{siteSelected.address.state}}</p>
            <p>Ville : {{siteSelected.address.city}}</p>
            <p> Nr° de Tva: {{siteSelected.vatNumber}}</p>
          </div>
          <div class="detailsCard2">
          </div>
          <div class="detailsCard2">
            <p *ngIf="siteSelected.contactSite.length != 0" class="email">
            </p>
            <div class="email" *ngFor="let elt of siteSelected.contactSite; let i = index">
              <div *ngIf="!elt.emergencyContact && !elt.nightContact">
                <p>Contact(s): </p>
                <p>{{elt.firstName}} {{elt.lastName}}</p>
                <p *ngIf="elt.email.length >0"  class="email">Email: </p>
                <p *ngFor="let elt1 of elt.email">
                  {{elt1.emailAddress}}
                </p>
                <p *ngIf="elt.phone.length >0" class="email">Téléphone(s)</p>
                <p *ngFor="let elt1 of elt.phone">
                  {{elt1.number}}
                </p>
              </div>
              <div *ngIf="elt.emergencyContact">
                <p>Contact en cas d'urgence: </p>
              <p>{{elt.firstName}} {{elt.lastName}}</p>
              <p *ngIf="elt.email.length >0"  class="email">Email: </p>
              <p *ngFor="let elt1 of elt.email">
                {{elt1.emailAddress}}
              </p>
              <p *ngIf="elt.phone.length >0" class="email">Téléphone(s)</p>
              <p *ngFor="let elt1 of elt.phone">
                {{elt1.number}}
              </p>
            </div>
            <div *ngIf="elt.nightContact">
              <p>Contact de nuit: </p>
              <p>{{elt.firstName}} {{elt.lastName}}</p>
              <p *ngIf="elt.email.length >0"  class="email">Email: </p>
              <p *ngFor="let elt1 of elt.email">
                {{elt1.emailAddress}}
              </p>
              <p *ngIf="elt.phone.length >0" class="email">Téléphone(s)</p>
              <p *ngFor="let elt1 of elt.phone">
                {{elt1.number}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
