
*{
  box-sizing: border-box;
}


.nav{
  height: 50px;
  display: flex;
  color:wheat;
  background-color:black ;
  width:100vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
}

.nav h1{
  font-family: 'DM Serif Display', serif;
  letter-spacing : 0.2em;
  padding-top:7px;
  height: 100%;
  width:100%;
  padding-left: 100px;
}
.login
{
  padding-top: 13px;
  margin-right: 10px;
}

.login button{
  height: 25px;
  background-color:wheat ;
  color : black;
  border : none;
  font-family: 'DM Serif Display', serif;
  font-weight: 300;
  border-radius: 20px;
  letter-spacing : 0.1em;
  width: 180px;
}

.login button:hover{
  background:rgb(247, 212, 147);
  box-shadow: 0px 5px 10px 0 black 50%;
  cursor: pointer;
}



@media screen and (max-width: 550px ) {
  .nav h1{
    visibility: hidden;
    margin-right: 50vw;
  }
  .login button{
    width:150px;
  }
}

