
*{
  box-sizing: border-box;
}


.nav{
  height: 70px;
  display: flex;
  color:black;
  width:100vw;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.nav h1{
  font-family: "Bai Jamjuree", sans-serif;
  letter-spacing : 0.2em;
  padding-top:1%;
  width:100%;
  padding-left: 4vw;
  font-weight: bold;
}

hr{
  color: whitesmoke ;
  position: absolute;
  top: 7vh;
  left: 4vw;
  width: 93vw;
  z-index: 5;
}

.login
{
  padding-top: 1%;
  margin-right: 3vw;
}

.login button{
  padding: 0;
  margin: 0;
  justify-content: flex-end  ;
  border-radius: none ;
  display: flex;
  align-items: center;
  height: 35px;
  background: transparent;
  color : black;
  border : none;
  font-family: "Bai Jamjuree", sans-serif;
  letter-spacing : 0.1em;
  width: 170px;
}

.login button:hover{
 color: blueviolet;
}

.login button mat-icon{
  font-size: 18px;
  padding-top: 3px;
  padding-left: 5px;
}

@media screen and (max-width: 550px ) {
  .nav h1{
    visibility: hidden;
    margin-right: 50vw;
  }
  .login button{
    width:150px;
  }
}

