
*{
  box-sizing: border-box;
}


.nav{
  height: 70px;
  display: flex;
  color:black;
  width:100vw;
  border-bottom: 1px rgb(201, 201, 201) solid;
  display: flex;
  justify-content: flex-end;
}

.nav h1{
  font-family: "Bai Jamjuree", sans-serif;
  letter-spacing : 0.2em;
  padding-top:1%;
  width:100%;
  padding-left: 100px;
  font-weight: bold;
}
.login
{
  padding-top: 1%;
  margin-right: 10px;
}

.login button{
  height: 35px;
  background-color:#3451E1 ;
  color : white;
  border : none;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bold;
  border-radius: 15px;
  letter-spacing : 0.1em;
  width: 170px;
}

.login button:hover{
  background:white;
  color:#3451E1 ;
  box-shadow: 0px 5px 10px 0 black 50%;
  cursor: pointer;
  border: 1px solid #3451E1 ;
}



@media screen and (max-width: 550px ) {
  .nav h1{
    visibility: hidden;
    margin-right: 50vw;
  }
  .login button{
    width:150px;
  }
}

