*{
  color:wheat;
}
h2{
  width:100%;
  text-align: center;
}
.btn{
  width:100%;
  background: black;
  color:wheat;
}
.mat-autocomplete-panel.custom-autocomplete {
  background-color: yellow; /* Couleur de fond des options */
}
