
*{
  box-sizing: border-box;
}
.contentTable
{
  margin-top :2vh;
  margin-left: 3vw;
  width: 20vw;
  border-radius: .6rem;
  border: 1px black solid;
  display:flex;
  justify-content: center;
}
table{
  border:1px black solid;
  width: 20vw;
}



