
*{
  box-sizing: border-box;
}
.contentTable
{
  margin-top :2vh;
  margin-left: 3vw;
  width: 20vw;
  border-radius: .6rem;
  border: 1px black solid;
  display:flex;
}
table{
  width: 100vw;
}

@media screen and (max-width: 600px) {

  .contentTable{
    width: 100%;
    margin-left: 0;
  }
}

