.contentAuth{
  width: 100vw;
  min-height: 94vh;
  background-image:  url('./../../../assets/pexelsCam1.jpg');
}
.transparent_div
{
  width: 100vw;
  min-height: 94vh;
  background: rgba(62, 62, 66, 0.4);
}

::ng-deep .mat-option
{
  background-color: #326290 !important;
  color: wheat !important;
}
footer{
  margin-top: 0px;
}

@media screen and (min-width: 1930px ) {
  .contentAuth{
  background-image:  url('./../../../assets/pexels-copie3.jpg');
  }
}

@media screen and (max-width: 1200px ) {
  .contentAuth, .transparent_div{
    min-height: 94vh;
  }
}

@media screen and (max-height: 700px ) {

  .contentAuth, .transparent_div
  {
    min-height: 100vh;
  }
}
