<div class="content-all">
  <div>
    <mat-form-field>
      <mat-label>Sélectionnez une ronde</mat-label>
      <mat-select [(ngModel)]="roundId" (ngModelChange)="Getround()">
        <mat-option *ngFor="let elt of listRounds" value="{{elt.roundsId}}">{{elt.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="content-box" *ngIf="round.name != ''" cdkDropListGroup>
    <h1>Ronde {{round.name}}</h1>
    <div class="title-box">
      <p>Pastilles disponible</p>
      <p>Pastille(s) ronde</p>
    </div>
      <div class="example-list"
        cdkDropList
        [cdkDropListData]="listFiltered"

        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let item of listFiltered" cdkDrag><span>{{item.location}}</span><mat-icon>menu</mat-icon></div>
      </div>

      <div class="example-list"
        cdkDropList
        [cdkDropListData]="listRfidRound"
        (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let item of listRfidRound" cdkDrag><span>{{item.location}}</span><mat-icon>menu</mat-icon></div>
      </div>
      <div class="title-box"><button type="button"(click)="ModifyRound()" >Envoyer</button></div>

  </div>
</div>
