*{box-sizing: border-box;}
.cards{
  margin-top:20px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px black solid;
}

.employees{
  border : 1px blue solid;
  border-radius: 5px;
  padding: 10px;
  width:90%;
}

.AddPerson{
  display: flex;
  flex-flow: row nowrap;
  background-color:white;
  color:#00468C;
  border : 1px green solid;
  width: 100%;
}

.AddPerson .icons{
  color:#00468C;
}

.AddPerson .icons:hover{
  color: #f5f5ea;
}


table{
  width: 100%;
  border-collapse: collapse;
}

th{
  background-color: #F5F5F5;
  height: 40px;
  text-align: center;
  padding : 0 10px 0px 20px;
}

tr{
  border-bottom: 1px solid #ccc;
}

td {
  background-color: white;
  height: 40px;
  text-align: center;


}

.paginator
{
  width:99%;
  display: flex;
  background-color: white;
  border-radius: 0 0 5px 5px;
  justify-content: center;
  padding-right :4px;
  margin-left :1px;
}


.icons button{
  color: #17A2B8;
}
.icons1{
  color: #757575;
}
.icons2{
  color: #757575;
}
.icons3
{
  color: rgb(184, 101, 101);
}
.icons1,incons2{
  padding:0;
  margin: 0;
}
.buttonIcons
{
  background-color: white;
  border: none;
}

